In [2]:
import json
import numpy as np
import pandas as pd
from IPython.display import display

In [3]:
def load_rows(filepath, nrows = None):
    with open(filepath) as json_file:
        count = 0
        objs = []
        line = json_file.readline()
        while (nrows is None or count < nrows) and line:
            count += 1
            obj = json.loads(line)
            objs.append(obj)
            line = json_file.readline()
        return pd.DataFrame(objs)

In [6]:
businesses = load_rows('data/business/yelp_academic_dataset_business.json')
print('Business objects loaded. Count = {}'.format(businesses.shape[0]))
reviews = load_rows('reduced_data/reviews/yelp_academic_dataset_reviews.json')
!cat '../input/yelp_academic_dataset_review.json' | wc -l
print('Review objects loaded. Count = {}'.format(reviews.shape[0]))

Business objects loaded. Count = 209393
cat: ../input/yelp_academic_dataset_review.json: No existe el archivo o el directorio
0
Review objects loaded. Count = 100000

In [7]:
cities_per_business = businesses[['business_id', 'city']]

In [19]:
funny_reviews = reviews[reviews['funny'] > 0][['review_id', 'business_id', 'funny']]
len(funny_reviews)

18485

In [9]:
funny_reviews_with_cities = funny_reviews.set_index('business_id').join(cities_per_business.set_index('business_id'))

In [28]:
top_10_funny_cities = funny_reviews_with_cities.groupby('city').size().reset_index(name='qty').sort_values(by='qty', ascending=False).head(10)

In [30]:
top_10_funny_cities

           city   qty
114   Las Vegas  5805
179     Phoenix  2028
225     Toronto  1210
202  Scottsdale  1097
49    Charlotte   839
182  Pittsburgh   632
53    Cleveland   619
97    Henderson   584
221       Tempe   561
148    Montréal   466

In [31]:
reviews_qty = reviews.groupby(['user_id']).size()
reviews_qty_gt_50 = reviews_qty[reviews_qty >= 50]

In [32]:
reviews_qty_gt_50

user_id
CxDOIDnH8gp9KXzpBHJYXw    61
dtype: int64