In [2]:
import json
import numpy as np
import pandas as pd
from IPython.display import display

In [3]:
def load_rows(filepath, nrows = None):
    with open(filepath) as json_file:
        count = 0
        objs = []
        line = json_file.readline()
        while (nrows is None or count < nrows) and line:
            count += 1
            obj = json.loads(line)
            objs.append(obj)
            line = json_file.readline()
        return pd.DataFrame(objs)

In [6]:
businesses = load_rows('data/business/yelp_academic_dataset_business.json')
print('Business objects loaded. Count = {}'.format(businesses.shape[0]))
reviews = load_rows('reduced_data/reviews/yelp_academic_dataset_reviews.json')
!cat '../input/yelp_academic_dataset_review.json' | wc -l
print('Review objects loaded. Count = {}'.format(reviews.shape[0]))

Business objects loaded. Count = 209393
cat: ../input/yelp_academic_dataset_review.json: No existe el archivo o el directorio
0
Review objects loaded. Count = 100000

In [7]:
cities_per_business = businesses[['business_id', 'city']]

In [19]:
funny_reviews = reviews[reviews['funny'] > 0][['review_id', 'business_id', 'funny']]
len(funny_reviews)

18485

In [9]:
funny_reviews_with_cities = funny_reviews.set_index('business_id').join(cities_per_business.set_index('business_id'))

In [10]:
top_10_funny_cities = funny_reviews_with_cities.groupby('city').size().reset_index(name='qty')

In [24]:
top_10_funny_cities[top_10_funny_cities['city'] == 'Phoenix']

        city   qty
179  Phoenix  2028

In [26]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,-MhfebM0QIsKt87iDN-FNw,0,2015-04-15 05:21:16,0,xQY8N_XvtGbearJ5X4QryQ,2.0,"As someone who has worked with many museums, I...",5,OwjRMXRC0KyPrIlcjaXeFQ
1,lbrU8StCq3yDfr-QMnGrmQ,0,2013-12-07 03:16:52,1,UmFMZ8PyXZTY2QcwzsfQYA,1.0,I am actually horrified this place is still in...,1,nIJD_7ZXHq-FX8byPMOkMQ
2,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5.0,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q
3,5JxlZaqCnk1MnbgRirs40Q,0,2011-05-27 05:30:52,0,i6g_oA9Yf9Y31qt0wibXpw,1.0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",0,ofKDkJKXSKZXu5xJNGiiBQ
4,IS4cv902ykd8wj1TR0N3-A,0,2017-01-14 21:56:57,0,6TdNDKywdbjoTkizeMce8A,4.0,"Oh happy day, finally have a Canes near my cas...",0,UgMW8bLE0QMJDCkQ1Ax5Mg

In [27]:
reviews['stars'].value_counts()

5.0    44088
4.0    22805
1.0    13742
3.0    11179
2.0     8186
Name: stars, dtype: int64